#reactionTimeTestButton{
  background: rgb(49, 154, 189);
  width: auto;
  height: 300px;
  margin: 30px 10px;
  border-style: solid;
  border-width: 10px;
  border-radius: 5px;
  border-color: lightgray;
  cursor: pointer;
  transition: background-color 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
}
#infoText{
color: white;
text-align: center;
font-weight: bold;
font-size: 30px;
font-family: Verdana;
}
#secondaryInfoText{
color: white;
text-align: center;
font-weight: 600;
font-size: 25px;
font-family: Verdana;
}
#recordDisplay{
color: white;
text-align: center;
font-weight: 400;
font-size: 15px;
font-family: Verdana;
}
#bolt{
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
}
body{
  background: black;
}
* {
  user-select: none;
}
@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#bolt, #infoText, #secondaryInfoText {
  animation: floatUp 1.2s forwards ease-out;
}

#infoText {
  animation-delay: 0.3s;
}

#secondaryInfoText {
  animation-delay: 0.5s;
}


